<!doctype html>

<html>

   <head>
      <title>UW IoT Lab2</title>
   </head>

   <body>
      <!-- our HTML goes here!! -->
      <h2> UW IOT Lab2 : GPIO API and WebApp </h2>
      <h3> Switch: {{'On' if switch else 'Off'}} </h3>
      <h4> RED LED (on GPIO18): {{'ON' if led1 else 'OFF'}} </h4>
      <h4> GREEN LED (on GPIO13): {{'ON' if led1 else 'OFF'}} </h4>
      <h4> BLUE LED (on GPIO23): {{'ON' if led1 else 'OFF'}} </h4>

      <p>
         <button style="width:100px;height:50px;color:white;background:red" type='button' id='red_led_btn'>RED_LED</button><br><br>         
         <button style="width:100px;height:50px;color:white;background:green" type='button' id='green_led_btn'>GREEN_LED</button><br><br>         
         <button style="width:100px;height:50px;color:white;background:blue" type='button' id='blue_led_btn'>BLUE_LED</button><br><br>         
      </p>         


      <script src="jquery-1.12.0.min.js"></script>
      <script>
         <!-- our custom JQuery sripting goes here!! -->

      </script>


   </body>

</html>
