<!doctype html>

<html>

   <head>
      <title>UW IoT Lab2</title>
   </head>

   <body>
      <!-- our HTML goes here!! -->
      <h2> UW IOT Lab2 : GPIO API and WebApp </h2>
      <h3> Switch: {{'On' if switch else 'Off'}} </h3>
      <h4> RED LED (on GPIO18): {{'ON' if led1 else 'OFF'}} </h4>
      <h4> GREEN LED (on GPIO13): {{'ON' if led1 else 'OFF'}} </h4>
      <h4> BLUE LED (on GPIO23): {{'ON' if led1 else 'OFF'}} </h4>

      <p>
         <button style="width:100px;height:50px;color:white;background:red" type='button' id='red_led_btn'>RED_LED</button><br><br>         
         <button style="width:100px;height:50px;color:white;background:green" type='button' id='green_led_btn'>GREEN_LED</button><br><br>         
         <button style="width:100px;height:50px;color:white;background:blue" type='button' id='blue_led_btn'>BLUE_LED</button><br><br>         
      </p>         


      <script src="jquery-1.12.0.min.js"></script>
      <script>
         <!-- our custom JQuery sripting goes here!! -->
         
         // start executing only after document has loaded

         $(document).ready(function()
         {
            // establish global variables for LED status
            var led1;
            var led2;
            var led3;

            // Part F of lab goes here


function firstFunction()
{
   var d = $.Deferred();
   // bullshit asyncronuous code
   setTimeout(function()
   {
      console.log('1');
     d.resolve();
   },1000);
   return d.promise();
}
function secondFunction()
{
   var d = $.Deferred();
   // bullshit asyncronuous code
   setTimeout(function()
   {
      console.log('2');
     d.resolve();
   },1000);
   return d.promise();
}
function thirdFunction()
{
   var d = $.Deferred();
   // bullshit asyncronuous code
   setTimeout(function()
   {
      console.log('3');
     d.resolve();
   },1000);
   return d.promise();
}
function forthFunction()
{
   var d = $.Deferred();
   // bullshit asyncronuous code
   setTimeout(function()
   {
      console.log('4');
     d.resolve();
   },1000);
   return d.promise();
}

//sequence the syncrounoss functions using '.then'

firstFunction().then(thirdFunction).then(secondFunction).then(forthFunction);

            // Button clik functions run asynchronously in the browser

            $('#red_led_btn').click(function()
            {
               if(led1 == "OFF")
               {          
                  led1 = "ON";
               }
               else(led1 == "ON")
               {          
                  led1 = "OFF";
               }
               var params = 'led=1&state='+led1;
               console.log('Led Command with params:' + params);

               $.post('ledcmd',params, function(data,status)
               {          
                  console.log("Data: " + data + "\nStatus: " + status);
               });
            });

            $('#green_led_btn').click(function()
            {
               if(led2 == "OFF")
               {          
                  led2 = "ON";
               }
               else(led2 == "ON")
               {          
                  led2 = "OFF";
               }
               var params = 'led=2&state='+led2;
               console.log('Led Command with params:' + params);

               $.post('ledcmd',params, function(data,status)
               {          
                  console.log("Data: " + data + "\nStatus: " + status);
               });
            });

            $('#green_led_btn').click(function()
            {
               if(led3 == "OFF")
               {          
                  led3 = "ON";
               }
               else(led3 == "ON")
               {          
                  led3 = "OFF";
               }
               var params = 'led=2&state='+led2;
               console.log('Led Command with params:' + params);

               $.post('ledcmd',params, function(data,status)
               {          
                  console.log("Data: " + data + "\nStatus: " + status);
               });
            });
         });
      </script>


   </body>

</html>
