<!doctype html>

<html>

   <head>
      <meta charset="utf-8">

      <title>UW IoT Lab3 by Greg</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab3.css') }}">
      <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

   </head>

   <body>
      <!-- our HTML goes here!! -->
      <h2> UW IOT Lab3 : GPIO API and WebApp by Greg</h2>
      <h3> Switch: {{'On' if switch else 'Off'}} </h3>
      <h4> RED LED (on GPIO18): {{'ON' if led1 else 'OFF'}} </h4>
      <h4> GREEN LED (on GPIO13): {{'ON' if led2 else 'OFF'}} </h4>
      <h4> BLUE LED (on GPIO23): {{'ON' if led3 else 'OFF'}} </h4>

      <p>
         <button style="width:100px;height:50px;color:white;background:red" type='button' id='red_led_btn'>RED_LED</button><br><br>         
         <button style="width:100px;height:50px;color:white;background:green" type='button' id='green_led_btn'>GREEN_LED</button><br><br>         
         <button style="width:100px;height:50px;color:white;background:blue" type='button' id='blue_led_btn'>BLUE_LED</button><br><br>         
      </p>         


      <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <script>
         <!-- our custom JQuery sripting goes here!! -->
         
         // start executing only after document has loaded

        //For part D all the stuff below here gets moved to lab3.js


         $(document).ready(function()
         {
            // establish global variables for LED status
            var led1;
            var led2;
            var led3;

           var iotSource = new EventSource("{{ url_for('myData') }}"); 
           /* intercept the incoming states from SSE */
           iotSource.onmessage = function(e) 
           {
              var params = e.data.split(' ');
              updateSwitch(params[0]);
              updateLeds(1,params[1]);
              updateLeds(2,params[2]);
              updateLeds(3,params[3]);
           }

           /* update the Switch based on its SSE state monitor */
           function updateSwitch(switchValue) 
           {
              if (switchValue === '1') 
              {
                 $('#switch').text('ON');
              } 
              else if (switchValue === '0') 
              {
                 $('#switch').text('OFF');
              }
           }

           /* update the LEDs based on their SSE state monitor */
           function updateLeds(ledNum,ledValue) 
           {
              if (ledNum === 1) 
              {
                 if (ledValue === '1') 
                 {
                    $('#red_led_label').text('ON');
                    led1 = "ON"
                 } 
                 else if (ledValue === '0') 
                 {
                    $('#red_led_label').text('OFF');
                    led1 = "OFF"
                 }
              }
              else if (ledNum === 2) 
              {
                 if (ledValue === '1') 
                 {
                    $('#grn_led_label').text('ON');
                    led2 = "ON"
                 } 
                 else if (ledValue === '0') 
                 {
                    $('#grn_led_label').text('OFF');
                    led2 = "OFF"
                 }
              }
              else if (ledNum === 3) 
              {
                 if (ledValue === '1') 
                 {
                    $('#blu_led_label').text('ON');
                    led3 = "ON"
                 } 
                 else if (ledValue === '0') 
                 {
                    $('#blu_led_label').text('OFF');
                    led3 = "OFF"
                 }
              }
           }


            // This is where thePart F of lab 2 goes here

           // Button clik functions run asynchronously in the browser
           // for some reason wants 3 equals signs below ===
           

            $('#red_led_btn').click(function()
            {
               if(led1 === "OFF")
               {          
                  led1 = "ON";
               }
              else
              {          
                  led1 = "OFF";
              }
               var params = 'led=1&state='+led1;
               console.log('Led Command with params:' + params);

               $.post('/ledcmd',params, function(data,status)
               {          
                 console.log("Data: " + data + "\nStatus: " + status);
               });
            });



            $('#green_led_btn').click(function()
            {
               if(led2 === "OFF")
               {          
                  led2 = "ON";
               }
               else
               {          
                  led2 = "OFF";
               }
               var params = 'led=2&state='+led2;
               console.log('Led Command with params:' + params);

               $.post('/ledcmd',params, function(data,status)
               {          
                  console.log("Data: " + data + "\nStatus: " + status);
               });
            });

            $('#blue_led_btn').click(function()
            {
               if(led3 === "OFF")
               {          
                  led3 = "ON";
               }
               else
               {          
                  led3 = "OFF";
               }
               var params = 'led=3&state='+led3;
               console.log('Led Command with params:' + params);

               $.post('/ledcmd',params, function(data,status)
               {          
                  console.log("Data: " + data + "\nStatus: " + status);
               });
            });
         });
      // end of stuff that gets moved to lab3.js


      </script>

      <script type="text/javascript">
      var switchSource = new EventSource("{{ url_for('myData') }}");
      switchSource.onmessage = function(e) 
      {
         console.log(e.data);
      }
     </script>

   </body>

</html>
